<!-- src/templates/restauran/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="main-wrap">
            <div class="cover_1">
                <div class="img_bg" style="background-image: url({% static 'img/slider-1.jpg' %});" data-stellar-background-ratio="0.5">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-12" data-aos="fade-up">
                                <h2 class="heading">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ipsa sint amet aliquam velit minima tenetur quisquam beatae molestiae possimus dicta.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section services-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3" data-aos="fade-up">
                            <div class="media feature-icon d-block text-center">
                                <div class="icon">
                                    <span class="flaticon-soup"></span>
                                </div>
                                <div class="media-body">
                                    <h3>Quality Cuisine</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non pariatur suscipit repudiandae facilis incidunt unde saepe</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
                            <div class="media feature-icon d-block text-center">
                                <div class="icon">
                                    <span class="flaticon-vegetables"></span>
                                </div>
                                <div class="media-body">
                                    <h3>Fresh Food</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non pariatur suscipit repudiandae facilis incidunt unde saepe</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
                            <div class="media feature-icon d-block text-center">
                                <div class="icon">
                                    <span class="flaticon-pancake"></span>
                                </div>
                                <div class="media-body">
                                    <h3>Friendly Staff</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non pariatur suscipit repudiandae facilis incidunt unde saepe</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="500">
                            <div class="media feature-icon d-block text-center">
                                <div class="icon">
                                    <span class="flaticon-tray"></span>
                                </div>
                                <div class="media-body">
                                    <h3>Easy Reservation</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non pariatur suscipit repudiandae facilis incidunt unde saepe</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'partials/specialties.html' %}

            {% include 'partials/reviews.html' %}

            <div class="site-half-wrap d-block d-lg-flex">
                <div class="block-half" data-aos="fade">
                    <div class="image-bg-fullwidth" style="background-image: url({% static 'img/img_1.jpg' %});"></div>
                    <div class="half d-block d-lg-flex">
                        <div class="text">
                            <h2 class="mb-4">Feature Menu</h2>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet eos quasi, necessitatibus dicta. Temporibus odit sed quisquam commodi, in aut, repellendus porro saepe minus, enim obcaecati fugiat optio eaque odio?</p>
                            <p><a href="#" class="btn btn-primary btn-outline-primary">View All Menu</a></p>
                        </div>
                        <div class="image" style="background-image: url({% static 'img/img_2.jpg' %});"></div>
                    </div>
                </div>
                <div class="block-half" data-aos="fade">
                    <div class="half d-block d-lg-flex">
                        <div class="text">
                            <h2 class="mb-4">Master Chef</h2>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet eos quasi, necessitatibus dicta. Temporibus odit sed quisquam commodi, in aut, repellendus porro saepe minus, enim obcaecati fugiat optio eaque odio?</p>
                            <p><a href="#" class="btn btn-primary btn-outline-primary">Meet Our chef</a></p>
                        </div>
                        <div class="image" style="background-image: url({% static 'img/chef_1.jpg' %});"></div>
                    </div>
                    <div class="image-bg-fullwidth" style="background-image: url({% static 'img/chef_2.jpg' %});"></div>
                </div>
            </div>

            <div class="section">
                {% include 'partials/menu-list.html' %}
            </div>
            
            <div class="section bg-light">
                <div class="container">
                    <div class="row justify-content-center mb-5" data-aos="fade-up">
                        <div class="col-md-8  text-center">
                            <h2 class="mb-3">Events &amp; News</h2>
                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum fuga, alias distinctio voluptatum magni voluptatibus.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="media d-block d-lg-flex mb-5" data-aos="fade-up" data-aos-delay="100">
                                <figure class="mr-4 horizontal">
                                    <img src="{% static 'img/news_1.jpg' %}" alt="Image placeholder" class="img-fluid">
                                </figure>
                                <div class="media-body">
                                    <h3><a href="#">Birthday Party Held in Diner Restaurant</a></h3>
                                    <p class="post-meta"><span><span class="fa fa-calendar"></span> April 22, 2018</span></p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus</p>
                                    <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">Read More</a></p>
                                </div>
                            </div>
                            <div class="media d-block d-lg-flex mb-5" data-aos="fade-up">
                                <figure class="mr-4 horizontal">
                                    <img src="{% static 'img/news_2.jpg' %}" alt="Image placeholder" class="img-fluid" data-aos-delay="200">
                                </figure>
                                <div class="media-body">
                                    <h3><a href="#">Drinks Overload</a></h3>
                                    <p class="post-meta"><span><span class="fa fa-calendar"></span> April 22, 2018</span></p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus</p>
                                    <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">Read More</a></p>
                                </div>
                            </div>
                            <div class="media d-block d-lg-flex mb-5" data-aos="fade-up" data-aos-delay="300">
                                <figure class="mr-4 horizontal">
                                    <img src="{% static 'img/img_1.jpg' %}" alt="Image placeholder" class="img-fluid">
                                </figure>
                                <div class="media-body">
                                    <h3><a href="#">New Recipe: Steak Steak Steak.</a></h3>
                                    <p class="post-meta"><span><span class="fa fa-calendar"></span> April 22, 2018</span></p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus</p>
                                    <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">Read More</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="media d-block mb-5" data-aos="fade-up" data-aos-delay="400">
                                <figure>
                                    <a href="#"><img src="{% static 'img/news_1_large.jpg' %}" alt="Image placeholder" class="img-fluid"></a>
                                </figure>
                                <div class="media-body">
                                    <h3><a href="#">Food that are best for your overall health</a></h3>
                                    <p class="post-meta"><span><span class="fa fa-calendar"></span> April 22, 2018</span></p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus</p>
                                    <p><a href="#" class="btn btn-primary btn-outline-primary btn-sm">Read More</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="row justify-content-center mb-5" data-aos="fade-up">
                        <div class="col-md-8  text-center">
                            <h2 class="mb-3">Why Choose Us</h2>
                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum fuga, alias distinctio voluptatum magni voluptatibus.</p>
                        </div>
                    </div>
                    <div class="row large-gutters">
                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                            <img src="{% static 'img/img_2.jpg' %}" alt="Image placeholder" class="img-fluid rounded">
                        </div>
                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                            <div class="accordion" id="accordion">
                                <div class="accordion-item">
                                    <h3 class="mb-0">
                                        <a class="btn-block p-3" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">Quality Cuisine <span class="icon"></span></a>
                                    </h3>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="p-3">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur quae cumque perspiciatis aperiam accusantium facilis provident aspernatur nisi optio debitis dolorum, est eum eligendi vero aut ad necessitatibus nulla sit labore doloremque magnam! Ex molestiae, dolor tempora, ad fuga minima enim mollitia consequuntur, necessitatibus praesentium eligendi officia recusandae culpa tempore eaque quasi ullam magnam modi quidem in amet. Quod debitis error placeat, tempore quasi aliquid eaque vel facilis culpa voluptate.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="mb-0">
                                        <a class="btn-block p-3" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">Fresh Food <span class="icon"></span></a>
                                    </h3>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="p-3">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ad laborum expedita. Nostrum iure atque enim quisquam minima distinctio omnis, consequatur aliquam suscipit, quidem, esse aspernatur! Libero, excepturi animi repellendus porro impedit nihil in doloremque a quaerat enim voluptatum, perspiciatis, quas dignissimos maxime ut cum reiciendis eius dolorum voluptatem aliquam!</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="mb-0">
                                        <a class="btn-block p-3" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">Friendly Staff <span class="icon"></span></a>
                                    </h3>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="p-3">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ad laborum expedita. Nostrum iure atque enim quisquam minima distinctio omnis, consequatur aliquam suscipit, quidem, esse aspernatur! Libero, excepturi animi repellendus porro impedit nihil in doloremque a quaerat enim voluptatum, perspiciatis, quas dignissimos maxime ut cum reiciendis eius dolorum voluptatem aliquam!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}