<!-- src/templates/user/login.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resto | Login</title>
    <link href="{% static 'rathan/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'rathan/fonts/google-fonts.css' %}" rel="stylesheet">
    <link href="{% static 'rathan/css/blog.css' %}" rel="stylesheet">
    <link href="{% static 'rathan/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'rathan/css/font-awesome.min.css' %}">
</head>
<body>
    <div class="container">
        
        <!-- content -->
        <h3 class="text-center">Login</h3>
        <form 
            action="/user/login/" 
            method="POST" style="width:500px; margin:auto;">
            <input type="hidden" name="csrfmiddlewaretoken" value="kUHHFNq2lZjGqfdJzEEd8UfFAxRjYtKE3gUdTFU5idL97wWKXsERcr3tpvoBGVZm">
            <div id="div_id_username" class="form-group">
                <label for="id_username" class=" requiredField">
                Nama pengguna<span class="asteriskField">*</span> </label> 
                <div> <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" class="textinput form-control" required id="id_username"> </div>
            </div>
            <div id="div_id_password" class="form-group">
                <label for="id_password" class=" requiredField">
                Sandi<span class="asteriskField">*</span> </label> 
                <div> <input type="password" name="password" autocomplete="current-password" class="passwordinput form-control" required id="id_password"> </div>
            </div>
            <button type="submit" class="btn btn-warning">Login</button>
        </form>
        <!-- content end -->
    </div>
    <!-- footer -->
    <footer class="blog-footer">
        <hr />
        <p style="text-align: center;">Developed with <span style="color:red;">love</span> by <span style="color:#0056B3;">ING</span> in <a href="#">Practical Skill_Sets</a></p>
    </footer>
    <!-- footer end -->
</body>
</html>