<!-- src/templates/user/register.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resto | Register</title>
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="/static/css/blog.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <!-- hero featued post -->
        <!-- hero featued post end -->
        <!-- content -->
        <h3 class="text-center">Register</h3>
        <form action="" method="POST" style="width:500px; margin:auto;">
            <input type="hidden" name="csrfmiddlewaretoken" value="kct8fbUEpIewMPu6eWdKc15gvtxo7a1d3yGEt3oHmWGZt6d7CKdogyT4kr4GPCgV">
            <div id="div_id_email" class="form-group">
                <label for="id_email" class="">
                Alamat email
                </label> 
                <div> <input type="email" name="email" maxlength="254" class="emailinput form-control" id="id_email"> </div>
            </div>
            <div id="div_id_username" class="form-group">
                <label for="id_username" class=" requiredField">
                Nama pengguna<span class="asteriskField">*</span> </label> 
                <div> <input type="text" name="username" maxlength="150" autofocus class="textinput form-control" required aria-describedby="id_username_helptext" id="id_username"> <small id="hint_id_username" class="form-text text-muted">Wajib. 150 karakter atau sedikit. Hanya huruf, angka, dan @/./+/-/_.</small> </div>
            </div>
            <div id="div_id_password1" class="form-group">
                <label for="id_password1" class=" requiredField">
                Sandi<span class="asteriskField">*</span> </label> 
                <div>
                    <input type="password" name="password1" autocomplete="new-password" class="passwordinput form-control" required aria-describedby="id_password1_helptext" id="id_password1"> 
                    <small id="hint_id_password1" class="form-text text-muted">
                        <ul>
                            <li>Sandi anda tidak dapat terlalu mirip terhadap informasi pribadi anda.</li>
                            <li>Kata sandi Anda harus memuat setidaknya 8 karakter.</li>
                            <li>Sandi anda tidak dapat berupa sandi umum digunakan.</li>
                            <li>Sandi anda tidak bisa sepenuhnya numerik.</li>
                        </ul>
                    </small>
                </div>
            </div>
            <div id="div_id_password2" class="form-group">
                <label for="id_password2" class=" requiredField">
                Konfirmasi sandi<span class="asteriskField">*</span> </label> 
                <div> <input type="password" name="password2" autocomplete="new-password" class="passwordinput form-control" required aria-describedby="id_password2_helptext" id="id_password2"> <small id="hint_id_password2" class="form-text text-muted">Masukkan sandi yang sama seperti sebelumnya, untuk verifikasi.</small> </div>
            </div>
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
        <!-- content end -->
    </div>
    <!-- footer -->
    <footer class="blog-footer">
        <hr />
        <p style="text-align: center;">Developed with <span style="color:red;">love</span> by <span style="color:#0056B3;">ING</span> in <a href="#">Practical Skill_Sets</a></p>
    </footer>
    <!-- footer end -->
</body>
</html>